exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "col2rgb", "dev.off", "gray", "grey", "pdf", "png", "rgb")
importFrom("graphics", "barplot", "box", "hist", "legend", "par", "pie", "plot", "text")
importFrom("stats", "aggregate", "cov", "dist", "lm", "median", "pf",  "quantile")
importFrom("utils", "data", "head")
importFrom("methods", "as")
export(choose_variables_describe)
export(country_analysis)
export(impute_variables)
export(mds_country_mixtures)
export(mds_visual)
export(read_data_create_map)
export(reverse_variables)
import(countrycode)
import(doParallel)
import(foreach)
import(iterators)
import(lattice)
import(mice)
import(parallel)
import(plot3D)
import(plotGoogleMaps)
importFrom(plotrix,pie3D)
importFrom(plotrix,rescale)
import(rgl)
import(rmarkdown)
import(smacof)
import(robCompositions)
importFrom(DescTools,Herfindahl)
importFrom(RColorBrewer,brewer.pal)
importFrom(classInt,classIntervals)
importFrom(foreign,read.spss)
importFrom(knitr,plot_crop)
importFrom(magick,image_read)
importFrom(magick,image_trim)
importFrom(magick,image_write)
importFrom(maps,map)
importFrom(matlib,vectors3d)
importFrom(openxlsx,write.xlsx)
importFrom(plot3Drgl,plotrgl)
importFrom(plotKML,SAGA_pal)
importFrom(plotKML,kml)
importFrom(plotrix,pie3D)
importFrom(plotrix,rescale)
importFrom(plotrix,color.id)
importFrom(readstata13,read.dta13)
importFrom(readxl,read_excel)
importFrom(rworldmap,addMapLegend)
importFrom(rworldmap,joinCountryData2Map)
importFrom(rworldmap,mapCountryData)
import(sp)
import(rnaturalearth)
importFrom(tibble,rownames_to_column)
